.portfolio {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  &__list-item {
    display: flex;
    height: 400px; /* */
    margin-bottom: 40px;
    position: relative;
    width: 48%;

    @media only screen and (max-width: $fullContainerWidth) {
      width: 48%;
    }

    @media only screen and (max-width: $tablet) {
      width: 48%;
    }

    @media only screen and (max-width: $mobile) {
      margin-bottom: 20px;
      width: 100%;
    }

    &__content {
      display: block;

      img {
        width: 100%;
      }
    }
  }
}
