$bg: #880E4F;
$black: #000000;
$white: #FFFFFF;

$facebook: #3B5998;
$linkedin: #007BB5;
$twitter: #1DA1F2;
$github: #24292e;

:export {
  bg: $bg;
  black: $black;
  white: $white;
  facebook: $facebook;
  linkedin: $linkedin;
  twitter: $twitter;
  github: $github;
}
